//-head.pug

block head
    head.site-head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=`${info.description}`)
        title #{info.title}
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap")
        link(rel="stylesheet", href=`${path.css}/common.css`)
        link(rel="stylesheet", href=`${path.css}/style.css`)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kosugi&display=swap")
        - if(MODE_DEV === true)
            link(rel="stylesheet", href=`${path.css}/dev.css`)
            script(src=`${path.js}/develop.js`, defer)
        script(src=`${path.js}/index.js`, defer)
        //- - if(page != 404)script(src="#{PATH.JS_DIR}#{page}.js", defer)
